<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Third Class</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body class="h-full grid place-items-center">
    <div v-cloak id="lesson-three">
        <section v-if="inProgressAssignment.length">
          <h2 class="font-bold mb-2">Assignment In Progress</h2>

          <ul>
            <li 
              v-for="assignment in inProgressAssignment" 
              :key="assignment.id"
            >
              <label>
                {{ assignment.name }} <input type="checkbox" v-model="assignment.complete">
              </label>
            </li>
          </ul>
        </section>

        <section class="mt-8" v-show="completedAssignments.length">
          <h2 class="font-bold mb-2">Completed Assignment</h2>

          <ul>
            <li v-for="assignment in completedAssignments" :key="assignment.id">{{ assignment.name }} <input type="checkbox" v-model="assignment.complete"></li>
          </ul>
        </section>


    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./AppLesson3.vue"></script>
  </body>
</html>
